html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #7fb9f3;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 15px 30px;
  color: white;
}

.logo {
  font-size: 2em;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  text-decoration: underline;
  color: #033e79;
}
.info {
  justify-items: center;

  align-items: center;
  font-weight: bold;
  color: white;
  opacity: 0.7;
  font-size: 40px;
}
.image {
  width: 550px;
  height: 550px;
}
.imageANDinfo {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.header {
  color: blue;
  opacity: 0.5;
  text-align: center;
}
.footer {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.image1 {
  width: 70px;
  height: 70px;
}

.d1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-style: solid;
  border-radius: 20px;
  border-color: #d1e3ff;
  transition: all 0.3s ease;
}

.d1:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #f0f8ff;
}
.hed3 {
  color: #0a66c2;
}
.per {
  color: #4a4a4a;
}
.hed2 {
  color: #0a66c2;
}
.Aboutus {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-style: solid;
  border-radius: 20px;
  color: white;
  opacity: 0.7;
}
