body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #7fb9f3;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 15px 30px;
  color: white;
}

.logo {
  font-size: 1.8em;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}
.image {
  width: 550px;
  height: 550px;
}
.imageANDinfo {
  flex: content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.info {
  margin-top: 200px;
  margin-left: 10px;
  font-weight: bold;
  font-family: serif;
  color: white;
  text-align: start;
}
.footer{
display: flex;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 20px;
}
