body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7fb9f3;
  font-family: Arial;
}

.container {
  background: #0097af;
  display: flex;
  gap: 70px;
  padding: 20px;
}

.box {
  border-style: solid;
  border-radius: 20px;
  border-color: rgb(4, 4, 138);
  text-align: center;
  transition: background-color 0.4s ease;
}

.box img {
  width: 220px;
  object-fit: contain;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
}
.box h3 {
  color: white;
  font-size: 20px;
}
.box:hover {
  background: #0c7494;
}
p {
  color: #7fb9f3;
}
